[Unit]
Description=Flask Application
[Service]
User=pythonadm
WorkingDirectory=/opt/flask-app
ExecStart=/bin/bash -c 'cd /opt/flask-app && \
	source ./venv/bin/activate && \
	source ~/.bashrc && \
	gunicorn --bind=0.0.0.0:8001 --workers=4 application:app'
[Install]
WantedBy=multi-user.target
